.navbar{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navigation {
	display: flex;
  justify-content: center;
  gap: 4rem;
  font-weight: 700;
}

.navigation button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  padding: 0;
}

.navigation ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 1px; 
  width: 0%;
  background-color: black;
  transition: width 0.3s ease;
}

.navigation :hover::after {
  width: 100%;
}

.name {
  font-size: 36;
  font-weight: 800;
}

.icons {
  display: flex;
  gap: 1rem;
  font-size: 18px;
  align-items: center;
}

.icon {
  margin-top: 4px
}

.down-btn {
  display: flex;
}

.down-btn span {
  position: relative;
}

.hr-primary {
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0;
  height: 1px;
  background-color: #ccc;
  border: none;
  top: 21%;
}

.hr-secondary {
  width: 100%;
  margin: 0;
  height: 1px;
  background-color: #ccc;
  border: none;
}