.footer-wrapper{
  background-color: black;
	position: absolute;
	width: 100%;
	left: 0;
	color: white;
}

.top{
	padding: 2rem 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hr {
	margin: 0 4rem;
}

.top-left {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.top-right {
	display: flex;
	flex-direction: column;
	gap: 1rem;

}

.instruction{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.subscribe{
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.subscribe input {
	background-color: white;
	width: 300px;
	color: grey;
	padding: 0.5rem 1rem;
}

.subscribe button {
	border: 1px solid gray;
	color: grey;
	padding: 0.5rem 1rem;
	border-radius: 1.5px;
}

.subscribe button:hover{
	background-color: white;
	color: grey;
}

.bottom {
	display: flex;
	padding: 2rem 4rem;
	justify-content: space-between;
}

.social-media {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.follow {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.payment {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.bottom-right {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

.header, 
.title {
	font-weight: 700;
}

.bottom-left {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.bottom-center {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.text {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.signIN {
	font-weight: 700;
}

.contact,
.currency{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.contact-info,
.currency-info {
	display: flex;
	flex-direction: column;
	gap: 0rem;
}

.text-two {
	font-size: 12;
}

.text-one {
	font-size: 16;
}



