.product-card {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.01);
}

/* Image */
.product-img-wrapper {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text Section */
.product-content {
  padding: 14px;
}

.product-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #222;
}

.auth-text {
  font-size: 13px;
  color: #8a8a8a;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

/* Wishlist Button */
.wishlist-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
}
