.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 2rem 0;
}

.heading {
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.sub-heading {
  width: 700px;
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
